[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "third_party/harbor"]
	path = third_party/harbor
	url = https://github.com/harbor-framework/harbor.git
